{% extends 'base.html' %}

{% block title %}Blog Home{% endblock title %}

 {% block js %}
      <script>
      let previews=document.getElementsByClassName('preview');
      Array.from(previews).forEach((element)=>{
          element.innerHTML=element.innerText;
      });
      </script>
    {% endblock js %}

{% block body %} 

<div class="container my-4">
    <h2> Articals By luciCoder </h2> 
    {% for post in allPost %}

    <div class="col-md-10 my-4">
        <div
            class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Artical By: {{post.author}} ({{post.views}} views)</strong>
                <h3 class="mb-0">{{post.title}}</h3>
                <div class="mb-1 text-muted">{{post.timestamp}}</div>
                <p class="card-text mb-auto"><div class="preview">{{post.content|safe| truncatechars:100}}</div></p>                
                <div>
                <a href="/blog/{{post.slug}}" role="button"  class="btn btn-primary">Continue reading</a>
                </div>
            </div>
            <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
                    aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Thumbnail</text>
                </svg>

            </div>
        </div>
    </div>
    {% endfor %}

</div>



{% endblock body %} 


